server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=JasperReportDB;encrypt=false;trustServerCertificate=true
    username: sa
    password: your_password
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  thymeleaf:
    cache: false
    encoding: UTF-8

  session:
    timeout: 30m

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    default-fetch-size: 100
    default-statement-timeout: 30

jasper:
  server:
    url: http://localhost:8085/jasperserver
    username: jasperadmin
    password: jasperadmin
  output-locale: en_GB

logging:
  level:
    com.jasper: DEBUG
